body{
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}
#head-main{
    position: sticky;
    top: 0;
    z-index: 100;
}
.navbar-brand{
    width: 150px !important;
}
.nav-link:hover{
    text-decoration: underline;
    opacity: 60%;
}

.nav-link{
    font-size: 12px;
    font-weight: 500 !important;
}

/* carsoule */
.carousel-item{
    position: relative !important;
}
.details-main{
    position: absolute !important;
    top: 420px;
    left: 50px;
}
#banner-btn {
    padding: 10px 20px;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: all 0.3s ease;
}
#banner-btn:hover{
    background-color: black;
    color: white;
}
.banner-buy{
    background-color: black;
    color: white;
}
.banner-cart{
    border: solid 1px black !important;
}
.arrival-head{
    font-family: "Playwrite IS", cursive;
}
#new-in-head{
    font-size: 3.2rem;
}
.arrival-head{
    width: 30%;
}
.arrival-card{
    width: 70%;
    height: 300px;
    background-color: cyan;
}

@media (max-width:800px) {
    .details-main{
        display: none;
    }
}
@media (max-width:880px) {
    .details-main{
        position: absolute;
        top: 300px;
    }
}

/* New in */
#new-main{
    margin-top: 2rem;
    background-color: whitesmoke;
}

.new-section{
    display: grid;
    max-width: 1200px;
    margin: 0 auto;
    gap: 2rem;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
}
.newLeft{
    display: flex;
    justify-content: center;
    align-items: center;
}
.newLeft p{
    font-family: "Playwrite AU SA", cursive;
    font-size: 2.2rem;
    margin-right: 10px;
}
.newimages p{
    display: flex;
    justify-content: center;   
    font-size: small;
    font-weight: 700;
}
/* .newimages img{
    box-shadow: 0 4px 8px 0 rgba(36, 35, 35, 0.2), 0 6px 10px 0 rgba(59, 59, 59, 0.2);
} */

/* highlights */

#Highlits-main{
    margin: 5rem 0 ;
}

.heading{
    text-align: center;
    margin: 0 0 2rem 0;
}
.heading span{
    font-size: 3rem;
    font-family: "Kalam", cursive;
}
.productsGrid{
    display: grid;
    max-width: 1200px;
    margin: 0 auto;
    gap: 2rem;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
}
.h-img{
    display: none;
}
.products-images:hover .h-img{
    display: block;
    cursor: pointer;
}
.products-images:hover .m-img{
    display: none;
}
.products-images{
    display: flex;
    text-align: center;
    align-items: center;
}
#medusa-neck{
    font-size: 1.2rem;
    font-weight: 700;
    font-family: "Playwrite MX", cursive;
}
.banner-bottom-img img {
    width: 100%;
    height: auto;
    display: block;
}

.banner-bottom-main {
    position: relative;
}

.banner-bottom-btn {
    position: absolute;
    top: 90%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.btn.banner-botton-book-btn {
    background-color: #000000d9; 
    color: #fff;
    border: none;
    padding: 10px 20px;
    font-size: 12px;
    font-weight: 500;
}

@media (max-width: 768px) {
    .btn.banner-botton-book-btn {
        padding: 8px 16px;
        font-size: 12px;
    }
}


/* contact us */

#ctus{
    margin: 5rem 0 5rem;
}

.signup-container {
    text-align: center;
}

.signup-container h1 {
    font-size: 24px;
    margin-bottom: 10px;
}

.signup-container p {
    font-size: 16px;
    margin-bottom: 20px;
}

.signup-form {
    display: flex;
    justify-content: center;
    align-items: center;
}

.signup-form input[type="email"] {
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 5px 0 0 5px;
    outline: none;
}

.signup-form button {
    padding: 10px 20px;
    font-size: 16px;
    border: none;
    background-color: #000;
    color: #fff;
    border-radius: 0 5px 5px 0;
    cursor: pointer;
}

.signup-form button:hover {
    background-color: #333;
}

@media (max-width: 600px) {
    .signup-container h1 {
        font-size: 20px;
    }

    .signup-container p {
        font-size: 14px;
    }

    .signup-form input[type="email"] {
        font-size: 14px;
    }

    .signup-form button {
        font-size: 14px;
    }
}

/* footer */
footer{
    background-color: rgb(26, 25, 25);
}
.footer-main{
    display: grid;
    max-width: 1200px;
    margin: 0 auto;
    gap: 2rem;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    text-align: left;
}
.footer-items{
    margin-top: 5rem;
    color: white;
    font-size: 15px;
}
.f-links{
    list-style: none;
    margin-top: 15px;
}
.f-links:hover{
    color: rgb(173, 173, 173);
    cursor: pointer;
}
.footer-main h3{
    margin-left: 30px ;
}
.footer-social-main{
display: flex;
justify-content: center;
align-items: center;
margin: 2rem 0 0;
}
.footer-social{
    width: 50%;
    display: flex;
    justify-content: space-evenly;
    font-size: 2rem;
    color: white;
}
.icon:hover{
    color: rgb(173, 173, 173);
    cursor: pointer;
}